#store{
    flex:1;
    min-width: 150px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,0.5) 100%);
}

 
 #buildings{
    flex:1;
    margin-top: 15px;
    background:url(../../assets/images/panel-horizontal.png) no-repeat 0 1px;
}

 #buildings::before {
    display: block;
    padding-left: 2%;
    content: 'buildings';
    font-family: 'Merriweather', serif ;
    color: #f4d8b6;
    text-transform: uppercase;
    text-align: left;
    font-size: 11px;
    text-shadow: 0 1px 4px #000;
}