  /*----------------------------- KEYFRAMES OMBRE COOKIE--------------------------------------*/
#ombre1{
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  opacity: 0.2;
  background: conic-gradient( 
  white 30deg, black 30deg 60deg, white 60deg 90deg, black 90deg 120deg, white 120deg 150deg, black 150deg 180deg,
  white 180deg 210deg, black 210deg 240deg, white 240deg 270deg, black 270deg 300deg, white 300deg 330deg, black 330deg 360deg);
  /*background: linear-gradient(#f8fafa, #3f3f3d, #faf9fa);*/
  animation: animate 15s linear infinite;   
  margin: 45% 0%;  
  filter: blur(10px);
}

@keyframes animate 
{
  0%
  {
      transform: rotate(0deg);
  }
  100%
  {
      transform: rotate(360deg);
  }
}


#ombre2{
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  opacity: 0.2;
  background: conic-gradient( 
  white 30deg, black 30deg 60deg, white 60deg 90deg, black 90deg 120deg, white 120deg 150deg, black 150deg 180deg,
  white 180deg 210deg, black 210deg 240deg, white 240deg 270deg, black 270deg 300deg, white 300deg 330deg, black 330deg 360deg);
  /*background: linear-gradient(#f8fafa, #3f3f3d, #faf9fa);*/
  animation: animate2 15s linear infinite;   
  margin: -150% 0%;  
  filter: blur(10px);
}

@keyframes animate2 
{
  0%
  {
      transform: rotate(360deg);
  }
  100%
  {
      transform: rotate(0deg);
  }
}

  /*--------------------------------------COOKIE-------------------------------------------*/
#bigCookie{
  position: absolute;
  width: 255px;
  height: 255px;
  background-image: url("../../assets/images/perfect-cookie.png");
  background-size: 255px;
  margin: 15% 0%;
}

#bigCookie:hover {
  cursor: pointer;
}

#bigCookie:active {
  transform: scale(0.95);
}


.plus{
  position: absolute;
  animation-name: plus;
  animation-duration: 3s;
}

@keyframes plus {
  0% {
      top: 110px;
      
      
  }
  20% {
      opacity: 0.5; 
       
  }
  50% {
      opacity: 0.2;
  }
  100% {
      opacity: 0;
      top: -200px;
      
  }
}



  /* KEYFRAMES COLORS BAKERY NEON */
  
  #bakery:nth-child(1) h2 {

    color: white;
    transition: 0.2s;
    
  }
    
  #bakery:nth-child(1) h2{
    -webkit-animation: neon1 1.2s ease-in-out infinite alternate;
    -moz-animation: neon1 1.2s ease-in-out infinite alternate;
    animation: neon1 1.2s ease-in-out infinite alternate;
  }
  #production:nth-child(2) h2 {

    color: white;
    transition: 0.2s;
    
  }
    
  #production:nth-child(2) h2{
    -webkit-animation: neon1 1.2s ease-in-out infinite alternate;
    -moz-animation: neon1 1.2s ease-in-out infinite alternate;
    animation: neon1 1.2s ease-in-out infinite alternate;
  }

  #store:nth-child(3) h2 {

    color: white;
    transition: 0.2s;
    
  }
    
  #store:nth-child(3) h2{
    -webkit-animation: neon1 1.2s ease-in-out infinite alternate;
    -moz-animation: neon1 1.2s ease-in-out infinite alternate;
    animation: neon1 1.2s ease-in-out infinite alternate;
  }
    
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 2px rgba(255, 255, 255, 0.4), 0 0 3px rgba(255, 255, 255, 0.4), 0 0 4px #228DFF, 0 0 7px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 15px #228DFF;
      }
      to {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px #228DFF, 0 0 50px #228DFF, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 7px #228DFF;
    }
  }    
    
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 2px rgba(255, 255, 255, 0.4), 0 0 3px rgba(255, 255, 255, 0.4), 0 0 4px #228DFF, 0 0 7px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 15px #228DFF;
      }
      to {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px #228DFF, 0 0 50px #228DFF, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 7px #228DFF;
    }
      
  }
  @keyframes neon1 {
    from {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 0 2px rgba(255, 255, 255, 0.4), 0 0 3px rgba(255, 255, 255, 0.4), 0 0 4px #228DFF, 0 0 7px #228DFF, 0 0 8px #228DFF, 0 0 5px #228DFF, 0 0 15px #228DFF;
      }
      to {
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.4), 0 0 20px #228DFF, 0 0 50px #228DFF, 0 0 4px #228DFF, 0 0 5px #228DFF, 0 0 7px #228DFF;
    }
  }

/* KEYFRAMES BAKERY IMAGES DERIERE */

  #large {
    position: absolute;
    z-index: -2;
    width: 26%;
    height: 95%;
  }
  
  #large {
    background: url("../../assets/images/cookie-shower1.png") repeat 0px 0px;
    -webkit-animation: dropFlowParticles 25s linear infinite;
    -o-animation: dropFlowParticles 25s linear infinite;
    animation: dropFlowParticles 15s linear infinite;
  }
  
  @-webkit-keyframes dropFlowParticles {
    from {
      background-position: 0 0;
    }
    to {
      background-position:  0 800px;
    }
  }
  @keyframes dropFlowParticles {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 800px;
    }
  }


/*************************KEYFRAMES BAKERY IMAGES COOKIEPETITE DERIERE*********************/

#cookie1 {
  position: absolute;
  margin: 0 0 0 10%;
  width: 26%;
  height: 70%;
  background-size: 30px;
}
#cookie2 {
  position: absolute;
  margin: 0 0 0 80%;
  width: 26%;
  height: 70%;
  background-size: 40px;
  animation: dropFlowParticles 4s linear infinite;
}
#cookie3 {
  position: absolute;
  margin: 0 0 0 60%;
  width: 26%;
  height: 50%;
  background-size: 30px;
  animation: dropFlowParticles 3s linear infinite;
}
#cookie4 {
  position: absolute;
  margin: 0 0 0 35%;
  width: 26%;
  height: 50%;
  background-size: 35px;
  animation: dropFlowParticles 5s linear infinite;
}

#cookie5 {
  position: absolute;
  margin: 0 0 0 25%;
  width: 26%;
  height: 50%;
  background-size: 30px;
  animation: dropFlowParticles 2.5s linear infinite;
}

.cookiepetite  {
  background: url("../../assets/images/gold-cookie.png") repeat 0px 0px;
  background-repeat: no-repeat;
  -webkit-animation: dropFlowParticles 25s linear infinite;
  -o-animation: dropFlowParticles 25s linear infinite;
  animation: dropFlowParticles 2s linear infinite;
}

@-webkit-keyframes dropFlowParticles {
  from {
    background-position: 0 0;
  }
  to {
    background-position:  0 800px;
  }
}
@keyframes dropFlowParticles {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 800px;
  }
}


/******************************** KEYFRAMES PLAGE **********************************
#plage { 
  margin-top: 140%;
  width: 100%;
  height: 15%;
  -webkit-animation: dropFlowP 25s linear infinite;
  -o-animation: dropFlowP 25s linear infinite;
  animation: dropFlowP 5s linear infinite;
  opacity: 0.9;
  background-image: url("../../assets/images/plage.png");
  
  
  
}
@-webkit-keyframes dropFlowP {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 800px 0;
  }
}
@keyframes dropFlowP {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 800px 0;
  }
}
*/

.container {
  position: relative;
  width: 100%;
  height: 35%;
  overflow: hidden;
  top: 30%;
  opacity: 0.7;
  
}

#ship {
  width: 10%;
  height: auto;
  position: absolute;
  top: 50%;
  left: -10%;
}

.main{
  width: 100%;
  height: 50%;
  position: relative;
  background-image: url("../../assets/images/cursor.png");
  background-position: 170px 170px;
  background-size: auto;
  background-repeat: no-repeat;
  animation: animateMain 15s linear infinite;   
}

@keyframes animateMain 
{
  0%
  {
      transform: rotate(360deg);
  }
  100%
  {
      transform: rotate(0deg);
  }
}